<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/jpg" href="/static/img/icon_radiopi.jpg" />
    <title>Estacion de radio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
    <!-- CSS LOCAL-->
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div id="panel-oculto" >
        <div class="panel-content">
            <p><h3>Listado</h3></p>
            <p style="color: white;">Cancion 1</p>
            <p style="color: white;">Cancion 2</p>
        </div>
    </div>

    <div class="header">
        <h3 class="text-muted">Tempus Omega</h3>                 
    </div>
    <div class="jumbotron">
        <a id="alternar-panel-oculto" href="#" style="display: block;">Mostrar el panel oculto</a>
    </div>
    <div class="container"> 

    </div>
    <!-- LOCAL JavaScript -->
        <script src="/static/js/index.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</body>
<footer class="page-footer font-small blue" >
    <div class="footer-copyright text-center py-3">
        &copy; Taller de Proyecto 2
    </div>
    <a class="btn btn-lg btn-success" href="reproductor">Link reproductor</a>
</footer>
</html>