#panel-oculto { 
    position: fixed; 
    top: 0; 
    width: 100%; height: 200px; 
    z-index: 1000; background-color: #222; 
}

#panel-oculto .panel-content {
    padding: 50px;
    font-size: 1.25em;
    line-height: 1.2em;
}

#alternar-panel-oculto{
   background-color: #369;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    margin-bottom: 30px;
}
